snippet ndate "Current date" i
`date +'%B %e, %Y'`
endsnippet

snippet jd "Current date"
`php -r "echo strtoupper(date('l, F jS'));"`
endsnippet

snippet ddate "Current date"
`date +%Y-%m-%d`
endsnippet

snippet ttime "Current time"
`date +%H:%M`
endsnippet
