snippet html
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf8">
		<title>$1</title>
	</head>
	<body>
		$0
	</body>
</html>
endsnippet

snippet input
<input type="$1" name="$2">$0
endsnippet

snippet form
<form method="$1" action="$2">
	$0
</form>
endsnippet

snippet link
<link rel="${2:stylesheet}" href="$1">
endsnippet

snippet script
<script src="$1">$0</script>
endsnippet
